section#body div#narrowScreen{
	display: none;
}
section#body div#wideScreen section#heading{
	background-image: url("../images/gallery/pic_gallery_header.jpg");
	background-color: rgb(112, 112, 112);
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 130px;
	padding-left: 120px;
}
#ourProjects{
	padding: 80px 120px 0px 120px;
	text-align: center;
}
#ourProjects1{
	display: none;
}
#ourProjects2{
	display: none;
}
#ourProjects h1{
	font-size: 2.1em;
	font-weight: bold;
}
#customBreak{
	width: 100px;
	height: 3px;
	margin: 14px auto;
	background-color: rgb(34, 46, 200);
}
#ourProjects p{
	width: 80%;
	margin: 30px auto 0px auto;
	font-size: 1.2em;
	line-height: 1.6em;
	color: rgb(125, 125, 125); 
}
#ourProjects table{
	width: 100%;
	margin: 18px auto;
	border-spacing: 20px 20px;
}
#ourProjects table tr td{
	width: 25%;
}
#ourProjects table tr td figure{
	height: 200px;
	background-image: url("../images/pic_header_2_370x300.png");
	background-color: rgb(112, 112, 112);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2px;
}
#ourProjects table tr td figcaption{
	text-align: left;
	vertical-align: bottom;
}
#ourProjects table tr td figcaption h3{
	color: black;
	font-size: 1.3em;
	margin-top: 10px;
	font-weight: bold;
}
#ourProjects table tr td figcaption p{
	color: rgb(125, 125, 125); 
	font-size: 1.2em;
	margin: 10px 0px 0px 0px;
}
#ourProjects table tr:nth-child(1) td:nth-child(1) figure{
	background-image: url("../images/gallery/1.jpg");
}
#ourProjects table tr:nth-child(1) td:nth-child(2) figure{
	background-image: url("../images/gallery/2.jpg");
}
#ourProjects table tr:nth-child(1) td:nth-child(3) figure{
	background-image: url("../images/gallery/3.jpg");
}
#ourProjects table tr:nth-child(1) td:nth-child(4) figure{
	background-image: url("../images/gallery/4.jpg");
}
#ourProjects table tr:nth-child(2) td:nth-child(1) figure{
	background-image: url("../images/gallery/5.jpg");
}
#ourProjects table tr:nth-child(2) td:nth-child(2) figure{
	background-image: url("../images/gallery/6.jpg");
}
#ourProjects table tr:nth-child(2) td:nth-child(3) figure{
	background-image: url("../images/gallery/7.jpg");
}
#ourProjects table tr:nth-child(2) td:nth-child(4) figure{
	background-image: url("../images/gallery/8.jpg");
}
#ourProjects table tr:nth-child(3) td:nth-child(1) figure{
	background-image: url("../images/gallery/9.jpg");
}
#ourProjects table tr:nth-child(3) td:nth-child(2) figure{
	background-image: url("../images/gallery/10.jpg");
}
#ourProjects table tr:nth-child(3) td:nth-child(3) figure{
	background-image: url("../images/gallery/11.jpg");
}
#ourProjects table tr:nth-child(3) td:nth-child(4) figure{
	background-image: url("../images/gallery/12.jpg");
}
#ourProjects table tr:nth-child(4) td:nth-child(1) figure{
	background-image: url("../images/gallery/13.jpg");
}
#ourProjects table tr:nth-child(4) td:nth-child(2) figure{
	background-image: url("../images/gallery/14.jpg");
}
#ourProjects table tr:nth-child(4) td:nth-child(3) figure{
	background-image: url("../images/gallery/15.jpg");
}
#ourProjects table tr:nth-child(4) td:nth-child(4) figure{
	background-image: url("../images/gallery/16.jpg");
}
#ourProjects table tr:nth-child(5) td:nth-child(1) figure{
	background-image: url("../images/gallery/17.jpg");
}
#ourProjects table tr:nth-child(5) td:nth-child(2) figure{
	background-image: url("../images/gallery/18.jpg");
}
#ourProjects table tr:nth-child(5) td:nth-child(3) figure{
	background-image: url("../images/gallery/19.jpg");
}
#ourProjects table tr:nth-child(5) td:nth-child(4) figure{
	background-image: url("../images/gallery/20.jpg");
}
#ourProjects table tr:nth-child(6) td:nth-child(1) figure{
	background-image: url("../images/gallery/21.jpg");
}
#ourProjects table tr:nth-child(6) td:nth-child(2) figure{
	background-image: url("../images/gallery/22.jpg");
}
#ourProjects table tr:nth-child(6) td:nth-child(3) figure{
	background-image: url("../images/gallery/23.jpg");
}
#ourProjects table tr:nth-child(6) td:nth-child(4) figure{
	background-image: url("../images/gallery/24.jpg");
}
#ourProjects table tr:nth-child(7) td:nth-child(1) figure{
	background-image: url("../images/gallery/25.jpg");
}
#ourProjects table tr:nth-child(7) td:nth-child(2) figure{
	background-image: url("../images/gallery/26.jpg");
}
#ourProjects table tr:nth-child(7) td:nth-child(3) figure{
	background-image: url("../images/gallery/27.jpg");
}
#ourProjects table tr:nth-child(7) td:nth-child(4) figure{
	/*background-image: url("../images/gallery/24.jpg");*/
}

@media (max-width: 1250px){
	section#body div#wideScreen section#heading{
		height: 500px;
		padding-top: 130px;
		padding-left: 80px;
	}
	#ourProjects{
		padding: 80px 80px 0px 80px;
	}
}
@media (max-width: 1100px){
	#ourProjects{
		padding: 80px 40px 0px 40px;
	}
}
@media (max-width: 950px){	
	#ourProjects{
		display: none;
	}
	#ourProjects1{
		display: block;
		padding: 40px 20px 0px 20px;
		text-align: center;
	}
	#ourProjects2{
		display: none;
	}
	#ourProjects1 h1{
		font-size: 2.1em;
		font-weight: bold;
	}
	#ourProjects1 p{
		width: 90%;
		margin: 30px auto 0px auto;
		font-size: 1.2em;
		line-height: 1.6em;
		color: rgb(125, 125, 125); 
	}
	#ourProjects1 table{
		width: 100%;
		margin: 0px auto;
		border-spacing: 20px 20px;
	}
	#ourProjects1 table tr td{
		width: 50%;
	}
	#ourProjects1 table tr td figure{
		height: 200px;
		background-image: url("../images/pic_header_2_370x300.jpg");
		background-color: rgb(112, 112, 112);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 2px;
	}
	#ourProjects1 table tr td figcaption{
		text-align: left;
		vertical-align: bottom;
	}
	#ourProjects1 table tr td figcaption h3{
		color: black;
		font-size: 1.3em;
		margin-top: 10px;
		font-weight: bold;
	}
	#ourProjects1 table tr td figcaption p{
		color: rgb(125, 125, 125); 
		font-size: 1.2em;
		margin: 10px 0px 0px 0px;
	}
	#ourProjects1 table tr:nth-child(1) td:nth-child(1) figure{
		background-image: url("../images/gallery/1.jpg");
	}
	#ourProjects1 table tr:nth-child(1) td:nth-child(2) figure{
		background-image: url("../images/gallery/2.jpg");
	}
	#ourProjects1 table tr:nth-child(2) td:nth-child(1) figure{
		background-image: url("../images/gallery/3.jpg");
	}
	#ourProjects1 table tr:nth-child(2) td:nth-child(2) figure{
		background-image: url("../images/gallery/4.jpg");
	}
	#ourProjects1 table tr:nth-child(3) td:nth-child(1) figure{
		background-image: url("../images/gallery/5.jpg");
	}
	#ourProjects1 table tr:nth-child(3) td:nth-child(2) figure{
		background-image: url("../images/gallery/6.jpg");
	}
	#ourProjects1 table tr:nth-child(4) td:nth-child(1) figure{
		background-image: url("../images/gallery/7.jpg");
	}
	#ourProjects1 table tr:nth-child(4) td:nth-child(2) figure{
		background-image: url("../images/gallery/8.jpg");
	}
	#ourProjects1 table tr:nth-child(5) td:nth-child(1) figure{
		background-image: url("../images/gallery/9.jpg");
	}
	#ourProjects1 table tr:nth-child(5) td:nth-child(2) figure{
		background-image: url("../images/gallery/10.jpg");
	}
	#ourProjects1 table tr:nth-child(6) td:nth-child(1) figure{
		background-image: url("../images/gallery/11.jpg");
	}
	#ourProjects1 table tr:nth-child(6) td:nth-child(2) figure{
		background-image: url("../images/gallery/12.jpg");
	}
	#ourProjects1 table tr:nth-child(7) td:nth-child(1) figure{
		background-image: url("../images/gallery/13.jpg");
	}
	#ourProjects1 table tr:nth-child(7) td:nth-child(2) figure{
		background-image: url("../images/gallery/14.jpg");
	}
	#ourProjects1 table tr:nth-child(8) td:nth-child(1) figure{
		background-image: url("../images/gallery/15.jpg");
	}
	#ourProjects1 table tr:nth-child(8) td:nth-child(2) figure{
		background-image: url("../images/gallery/16.jpg");
	}
	#ourProjects1 table tr:nth-child(9) td:nth-child(1) figure{
		background-image: url("../images/gallery/17.jpg");
	}
	#ourProjects1 table tr:nth-child(9) td:nth-child(2) figure{
		background-image: url("../images/gallery/18.jpg");
	}
	#ourProjects1 table tr:nth-child(10) td:nth-child(1) figure{
		background-image: url("../images/gallery/19.jpg");
	}
	#ourProjects1 table tr:nth-child(10) td:nth-child(2) figure{
		background-image: url("../images/gallery/20.jpg");
	}
	#ourProjects1 table tr:nth-child(11) td:nth-child(1) figure{
		background-image: url("../images/gallery/21.jpg");
	}
	#ourProjects1 table tr:nth-child(11) td:nth-child(2) figure{
		background-image: url("../images/gallery/22.jpg");
	}
	#ourProjects1 table tr:nth-child(12) td:nth-child(1) figure{
		background-image: url("../images/gallery/23.jpg");
	}
	#ourProjects1 table tr:nth-child(12) td:nth-child(2) figure{
		background-image: url("../images/gallery/24.jpg");
	}
	#ourProjects1 table tr:nth-child(13) td:nth-child(1) figure{
		background-image: url("../images/gallery/25.jpg");
	}
	#ourProjects1 table tr:nth-child(13) td:nth-child(2) figure{
		background-image: url("../images/gallery/26.jpg");
	}
	#ourProjects1 table tr:nth-child(14) td:nth-child(1) figure{
		background-image: url("../images/gallery/27.jpg");
	}
	#ourProjects1 table tr:nth-child(15) td:nth-child(2) figure{
		/*background-image: url("../images/gallery/24.jpg");*/
	}
	
}
@media (max-width: 900px){
	section#body div#wideScreen section#heading{
		height: 390px;
		padding-top: 100px;
		padding-left: 40px;
	}
}
@media (max-width: 750px){
	#weUnderstand1 div:first-child{
		height: 400px;
	}
}
@media (max-width: 600px){
	section#body div#wideScreen section#heading{
		height: 250px;
		padding-top: 70px;
		padding-left: 20px;
	}
	#ourProjects{
		display: none
	}
	#ourProjects1{
		display: none;
	}
	#ourProjects2{
		display: block;
		padding: 40px 20px 0px 20px;
		text-align: center;
	}
	#ourProjects2 h1{
		font-size: 2.1em;
		font-weight: bold;
	}
	#ourProjects2 p{
		width: 90%;
		margin: 30px auto 0px auto;
		font-size: 1.2em;
		line-height: 1.6em;
		color: rgb(125, 125, 125); 
	}
	#ourProjects2 table{
		width: 100%;
		margin: 0px auto;
		border-spacing: 10px 40px;
	}
	#ourProjects2 table tr td{
		width: 100%;
	}
	#ourProjects2 table tr td figure{
		height: 250px;
		background-image: url("../images/pic_header_2_370x300.jpg");
		background-color: rgb(112, 112, 112);
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 2px;
	}
	#ourProjects2 table tr td figcaption{
		text-align: left;
		vertical-align: bottom;
	}
	#ourProjects2 table tr td figcaption h3{
		color: black;
		font-size: 1.3em;
		margin-top: 10px;
		font-weight: bold;
	}
	#ourProjects2 table tr td figcaption p{
		color: rgb(125, 125, 125); 
		font-size: 1.2em;
		margin: 10px 0px 0px 0px;
	}
	#ourProjects2 table tr:nth-child(1) td:nth-child(1) figure{
		background-image: url("../images/gallery/1.jpg");
	}
	#ourProjects2 table tr:nth-child(2) td:nth-child(1) figure{
		background-image: url("../images/gallery/2.jpg");
	}
	#ourProjects2 table tr:nth-child(3) td:nth-child(1) figure{
		background-image: url("../images/gallery/3.jpg");
	}
	#ourProjects2 table tr:nth-child(4) td:nth-child(1) figure{
		background-image: url("../images/gallery/4.jpg");
	}
	#ourProjects2 table tr:nth-child(5) td:nth-child(1) figure{
		background-image: url("../images/gallery/5.jpg");
	}
	#ourProjects2 table tr:nth-child(6) td:nth-child(1) figure{
		background-image: url("../images/gallery/6.jpg");
	}
	#ourProjects2 table tr:nth-child(7) td:nth-child(1) figure{
		background-image: url("../images/gallery/7.jpg");
	}
	#ourProjects2 table tr:nth-child(8) td:nth-child(1) figure{
		background-image: url("../images/gallery/8.jpg");
	}
	#ourProjects2 table tr:nth-child(9) td:nth-child(1) figure{
		background-image: url("../images/gallery/9.jpg");
	}
	#ourProjects2 table tr:nth-child(10) td:nth-child(1) figure{
		background-image: url("../images/gallery/10.jpg");
	}
	#ourProjects2 table tr:nth-child(11) td:nth-child(1) figure{
		background-image: url("../images/gallery/11.jpg");
	}
	#ourProjects2 table tr:nth-child(12) td:nth-child(1) figure{
		background-image: url("../images/gallery/12.jpg");
	}
	#ourProjects2 table tr:nth-child(13) td:nth-child(1) figure{
		background-image: url("../images/gallery/13.jpg");
	}
	#ourProjects2 table tr:nth-child(14) td:nth-child(1) figure{
		background-image: url("../images/gallery/14.jpg");
	}
	#ourProjects2 table tr:nth-child(15) td:nth-child(1) figure{
		background-image: url("../images/gallery/15.jpg");
	}
	#ourProjects2 table tr:nth-child(16) td:nth-child(1) figure{
		background-image: url("../images/gallery/16.jpg");
	}
	#ourProjects2 table tr:nth-child(17) td:nth-child(1) figure{
		background-image: url("../images/gallery/17.jpg");
	}
	#ourProjects2 table tr:nth-child(18) td:nth-child(1) figure{
		background-image: url("../images/gallery/18.jpg");
	}
	#ourProjects2 table tr:nth-child(19) td:nth-child(1) figure{
		background-image: url("../images/gallery/19.jpg");
	}
	#ourProjects2 table tr:nth-child(20) td:nth-child(1) figure{
		background-image: url("../images/gallery/20.jpg");
	}
	#ourProjects2 table tr:nth-child(21) td:nth-child(1) figure{
		background-image: url("../images/gallery/21.jpg");
	}
	#ourProjects2 table tr:nth-child(22) td:nth-child(1) figure{
		background-image: url("../images/gallery/22.jpg");
	}
	#ourProjects2 table tr:nth-child(23) td:nth-child(1) figure{
		background-image: url("../images/gallery/23.jpg");
	}
	#ourProjects2 table tr:nth-child(24) td:nth-child(1) figure{
		background-image: url("../images/gallery/24.jpg");
	}
	#ourProjects2 table tr:nth-child(25) td:nth-child(1) figure{
		background-image: url("../images/gallery/25.jpg");
	}
	#ourProjects2 table tr:nth-child(26) td:nth-child(1) figure{
		background-image: url("../images/gallery/26.jpg");
	}
	#ourProjects2 table tr:nth-child(27) td:nth-child(1) figure{
		background-image: url("../images/gallery/27.jpg");
	}
}